@model Cari
@{
    ViewData["Title"] = "CariDuzenle";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="content-wrapper mt-3">
    <section class="content">
        <div class="container-fluid">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">Cari Düzenle</h3>
                </div>
                <div class="card-body">
                    <form method="post" class="form-group">

                        @Html.HiddenFor(x => x.CariID)

                        <label>Cari Ad</label>
                        <input type="text" asp-for="CariAd" class="form-control" />
                        <br />

                        <label>Cari Soyad</label>
                        <input type="text" asp-for="CariSoyad" class="form-control" />
                        <br />

                        <label>Cari Şehir</label>
                        <input type="text" asp-for="CariSehir" class="form-control" />
                        <br />

                        <label>Cari Mail</label>
                        <input type="text" asp-for="CariMail" class="form-control" />
                        <br />

                        <label>Cari Şifre</label>
                        <input type="password" asp-for="CariSifre" class="form-control" />
                        <br />

                        <button class="btn btn-primary">Düzenle</button>
                    </form>
                </div>
            </div>
        </div>
    </section>
</div>
