@model List<SatisHareket>
@{
    ViewData["Title"] = "Siparislerim";
    Layout = "~/Views/Shared/_CariLayout.cshtml";
}

<br />
<h2>Sipariş Geçmişim</h2>
<br />

<table class="table table-bordered">
    <tr>
        <th>Ürün Adı</th>
        <th>Fiyat</th>
        <th>Tarih</th>
        <th></th>
    </tr>
    @foreach(var item in Model)
    {
        <tr>
            <td>@item.Urun.UrunAd</td>
            <td>@item.Fiyat ₺</td>
            <td>@item.Tarih</td>
        </tr>
    }
</table>


