@model Kategori
@{
    ViewData["Title"] = "KategoriEkle";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="content-wrapper mt-3">
    <section class="content">
        <div class="container-fluid">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">Kategori Ekle</h3>
                </div>
                <div class="card-body">
                    <form method="post" class="form-group">

                        <label>Kategori Ad</label>
                        <input type="text" asp-for="KategoriAd" class="form-control" />
                        <br />

                        <button class="btn btn-primary">Ekle</button>
                    </form>
                </div>
            </div>
        </div>
    </section>
</div>
