@model SatisHareket
@{
    ViewData["Title"] = "SatisDuzenle";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="content-wrapper mt-3">
    <section class="content">
        <div class="container-fluid">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">Satış Düzenle</h3>
                </div>
                <div class="card-body">
                    <form method="post" class="form-group">

                        @Html.HiddenFor(x => x.SatisHareketID)

                        <label>Ürün</label>
                        <select asp-for="UrunID" asp-items="@(new SelectList(ViewBag.Urunler, "UrunID", "UrunAd"))" class="form-control"></select>
                        <br />

                        <label>Cari</label>
                        @Html.DropDownListFor(x => x.CariID, (List<SelectListItem>)ViewBag.Cariler, new {@class = "form-control"})
                        <br />

                        <label>Personel</label>
                        @Html.DropDownListFor(x => x.PersonelID, (List<SelectListItem>)ViewBag.Personeller, new {@class = "form-control"})
                        <br />

                        <label>Adet</label>
                        <input type="text" asp-for="Adet" class="form-control" />
                        <br />

                        <label>Fiyat</label>
                        <input type="text" asp-for="Fiyat" class="form-control" />
                        <br />

                        <label>Tarih</label>
                        <input type="date" asp-for="Tarih" class="form-control" />
                        <br />

                        <label>Toplam Tutar</label>
                        <input type="text" asp-for="ToplamTutar" class="form-control" />
                        <br />

                        <button class="btn btn-primary">Düzenle</button>


                    </form>
                </div>
            </div>
        </div>
    </section>
</div>
