@model Departman
@{
    ViewData["Title"] = "DepartmanDuzenle";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="container-fluid">
    <h4 class="mt-4">Departman Düzenle</h4>
    <div class="card mb-4">
        <div class="card-body">
            <form method="post" class="form-group">

                @Html.HiddenFor(x => x.DepartmanID)

                <label>Departman Ad</label>
                <input type="text" asp-for="DepartmanAd" class="form-control" />
                <br />

                <button class="btn btn-primary">Düzenle</button>
            </form>
        </div>
    </div>
</div>